br { line-height       : normal ; padding : 0; margin : 0;}
body
{
   margin            : 0 ;
   padding           : 0 ;
   font-family       : Arial, sans-serif ;
}

h1
{
   color             : #FFFFFF ;
   background-color  : #000000 ;
   text-align        : center ;
   margin            : 0 ;
   padding           : 0.5em ;
}

h1.cssFooter
{
   font-size         : 10pt ;
}
/*
h1.cssFooter
{
   position: absolute;
   width : 100% ;
   bottom: 0px;
   left: 0px;
   padding : .5em 0 ;
}
*/
a,a:link,a:visited,a:hover,a:active
{
   color                : #000077 ;
   font-weight          : bold ;
   text-decoration      : none ;
}

a[href]:link,a[href]:visited
{
   color                : #0000BB ;
}

a[href]:hover,a[href]:active
{
   color                : #00BB00 ;
}

h1.cssFooter a,h1.cssFooter a:link,h1.cssFooter a:visited,h1.cssFooter a:hover,h1.cssFooter a:active
{
   color                : #7777FF ;
}

h1.cssFooter a[href]:link,h1.cssFooter a[href]:visited
{
   color                : #66DDDD ;
}

h1.cssFooter a[href]:hover,h1.cssFooter a[href]:active
{
   color                : #00BB00 ;
}


textarea
{
   font-family       : consolas, Courier New, monospace ;
   font-size         : 9pt ;
}


textarea#ID_debug,
textarea#ID_debugHexa,
textarea#ID_debugHexaNormalized
{
   font-size         : 7pt ;
}

.cssNoScriptWarning
{
   color : #FF0000 ;
}

div.cssDisplay { display : block ; }
div.cssDisplayNone { display : none ; }

